div {
    text-align: center;
    font-size: 25px;
    border: 2px solid black;
}
.satu {
    background-color: yellow;
}
.dua {
    background-color: tomato;
}
.tiga {
    background-color: green;
}
.empat {
    
}